<ion-header>
  <ion-toolbar>
    <ion-title>BarChart</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <h5 text-center>Employee Statistic of Diff Company</h5>
    <div id="barChart"></div>  
</ion-content>
