<ion-tabs>
  <ion-tab label="Home" icon="home" href="/tabs/(home:home)">
    <ion-router-outlet name="home"></ion-router-outlet>
  </ion-tab>
  <ion-tab label="About" icon="information-circle" href="/tabs/(about:about)">
    <ion-router-outlet name="about"></ion-router-outlet>
  </ion-tab>
  <ion-tab label="Contact" icon="contacts" href="/tabs/(contact:contact)">
    <ion-router-outlet name="contact"></ion-router-outlet>
  </ion-tab>
  <ion-tab label="D3 Bar Chart" icon="analytics" href="/tabs/(bar-chart:bar-chart)">
    <ion-router-outlet name="bar-chart"></ion-router-outlet>
  </ion-tab>
  <ion-tab label="D3 CSV Data" icon="analytics" href="/tabs/(csv-data:csv-data)">
    <ion-router-outlet name="csv-data"></ion-router-outlet>
  </ion-tab>
</ion-tabs>
